dist
/tmp
/out-tsc
.env
.DS_Store
logs
logs/combined.log
logs/error.log
logs/exceptions.log
logs/rejections.log
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
.idea
pnpm-lock.yaml
node_modules
.vscode/*