version: '3.9'

services:
  app:
    build: .
    container_name: library-api
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      # SMTP
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}
      SENDER_EMAIL: ${SENDER_EMAIL}
      # Nodejs
      PORT: ${PORT}
      # MYSQL
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      #Other
      FINE_RATE_PER_DAY: ${FINE_RATE_PER_DAY}
      MAX_ISSUE_DAYS: ${MAX_ISSUE_DAYS}
    depends_on:
      - mysql
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: pnpm run dev

  mysql:
    image: mysql:8
    container_name: library-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
